.form{

    &__group{

    }

    &__input{
        font-size: 1,5rem;
        font-family: inherit; // inherit the fontfamily of the web
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
    }

    &__label{

    }
}